.container{
 width: 600xp;
 margin: auto;
 background-color: white;
 padding: 10px;
}
.result{
    font-weight: bold;
    border: solid gray 1px;
    font-size: xx-large; 
    padding: 10px;
    margin: 10px;
}
.warning{
    color: red;
}
.sitelink{
    color: gray;
    font-size: large;
}